@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fontLF: "Libre Franklin", sans-serif;
    --fontIBM: "IBM Plex Mono", monospace;
    --colorGreen: #5ab963;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #f5f5f5;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.main-text{
    font-family: var(--fontLF);
    font-weight: 100;
    font-size: 24px;
    line-height: 150%;
    color: #999;
}
.main-text span{
    color: black;
    font-weight: bold;
}
.link {
    font-family: var(--fontIBM);
    font-weight: 400;
    font-size: 11px;
    line-height: 164%;
    text-transform: uppercase;
    text-align: center;
    color: #5ab963;
}
.link:hover{
    color: #346d2e;
    font-weight: 700;
}