.grittings {
    background: url(../../img/grettings/Fon.png) no-repeat center/cover;
    padding: 30px;
}
.container {
    
}
.grittings__content {
}
.header {
}
.logo {
}
.nav {
}
.nav__list {
}
.nav__item {
}
.square {
}
.grettings__desc {
}
.grettings__title {
}
.grettings__text {
}
.btn {
}
.grettings__btn {
}
body{
}