.advert {
    margin-top: 122px;
}
.advert__container {
    max-width: 1380px;
    margin: 0 auto;
}
.advert__content {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.advert__main-text {
    max-width: 685px;
}
.advert__link {
    margin-top: 33px;
}