.offers {
    margin-top: 97px;
}
.offers .container {
    border-top: 2px solid #E6E6E6;
    border-bottom: 2px solid #E6E6E6;
    padding: 120px 0px;   
}
.offers__list {
}
.offers__card {
}
.advert__main-text {
}
.main-text {
}
.offers__text {
}
.offers__block {
}
.offers__info {
}
.offers__info-text {
}
.link {
}
.offers__link {
}