.service {
    margin-top: 120px;
}
.service__content {
}
.service__main-text {
    max-width: 507px;
}
.main-text{
    font-family: var(--fontLF);
    font-weight: 100;
    font-size: 24px;
    line-height: 150%;
    color: #999;
}
.main-text span{
    color: black;
    font-weight: bold;
}
.service__list {
    margin-top: 54px;
    display: flex;
    column-gap: 20px;
}
.service__item {
    padding: 51px 64px 109px 41px;
}
.service__title {
}
.service__text {
}